# SiddiqSoft clang-format
# Version 2, August 2021

Language: Cpp

AccessModifierOffset: -4

AlignAfterOpenBracket: Align # ours is Align
#AlignArrayOfStructures: Left
AlignConsecutiveDeclarations: Consecutive
AlignOperands: AlignAfterOperator
AlignTrailingComments: true
AlignConsecutiveAssignments: AcrossEmptyLines
AlignEscapedNewlines: DontAlign
AlignConsecutiveMacros: AcrossEmptyLines

AllowAllArgumentsOnNextLine: true
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakBeforeMultilineStrings : false
AllowAllParametersOfDeclarationOnNextLine : false
AllowShortCaseLabelsOnASingleLine : true
AllowShortLambdasOnASingleLine: Inline
AlwaysBreakTemplateDeclarations: Yes

BinPackArguments : false
BinPackParameters : false


BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: true    # TODO: verify
  AfterControlStatement: MultiLine
  AfterEnum: true    # TODO: verify
  AfterFunction: true    # TODO: verify
  AfterNamespace: true    # TODO: verify
  AfterStruct: true    # TODO: verify
  AfterUnion: true    # TODO: verify
  BeforeCatch: true
  BeforeElse: true
  BeforeLambdaBody: false
  BeforeWhile: false
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true

BasedOnStyle: WebKit
#BreakConstructorInitializersStyle: AfterComma
BreakBeforeTernaryOperators : true
BreakBeforeBinaryOperators : None
BreakInheritanceList : BeforeComma
BreakBeforeConceptDeclarations: true

ContinuationIndentWidth : 8
ColumnLimit: 132
Cpp11BracedListStyle: true
IndentCaseLabels: true
IndentPPDirectives: None
IndentWidth: 4
IndentRequires: true
PointerAlignment: Left
SpaceAfterCStyleCast: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInCStyleCastParentheses: false
SpacesInSquareBrackets: false
MaxEmptyLinesToKeep: 2
NamespaceIndentation: All
CompactNamespaces : false
FixNamespaceComments : true
Standard: Latest
TabWidth: 4
UseTab: ForIndentation
SortIncludes: false
SortUsingDeclarations: false
IncludeBlocks : Preserve
ReflowComments:  true
#LambdaBodyIndentation: Signature

ConstructorInitializerAllOnOneLineOrOnePerLine: false
ConstructorInitializerIndentWidth: 4
SpacesInParentheses: false
KeepEmptyLinesAtTheStartOfBlocks : false

#StatmentMacros: ['TEST_CLASS', 'TEST_CLASS_INITIALIZE', 'TEST_CLASS_CLEANUP', 'TEST_METHOD']
 